:root {
    --warning: rgb(255, 213, 0);
    --cancel: rgb(255, 0, 68);
    --default: rgb(0, 136, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(239, 248, 255);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}